[Unit]
Description=MediaUnlock Service
Documentation=https://github.com/HuTuTuOnO/MediaUnlock
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/media
ExecStart=/opt/media/media-agent -config /opt/media/config.yml
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
